form action="users/new" method="post" 
input type="text" name="username" placeholder="Enter username"
input type="password" name="password" placeholder="Enter password"
input type="password" name="password_confirm" placeholder="Enter password again!"
input type="submit" value="Registrera ny användare"/

